/* ===GENERAL STYLES===*/

* {
  box-sizing: border-box;
}

/* Single-direction margin */
h1,h2,h3,
ul,p,img {
    margin-bottom: 1.5rem;
}

body {
  background: url('assets/wedding%20pattern.png') no-repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #444349;
}

.locations,
.program,
.gifts,
.qustions,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .20s ease-in-out;
}

/* HEADER STYLES */

.cover {
  background: url('assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: table;
}

@media (min-width: 768px) {

	.cover {
        background: url('assets/wedding-landing-cover.jpg') no-repeat center/cover;
		}

}

.mainline-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: .625rem;
}

.mainline {
  margin: 0 auto;
  padding: .825rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
    }

.mainline h1 {
    font-size: 4.4rem;
    color: #d2ba87;
    margin-bottom: 0;
     }

@media (min-width: 768px) {

  .mainline {
    padding: 2.25rem;
    border-radius: 2rem;
    width: 40vw;
  }
    
    .mainline h1 {
    font-size: 6rem;
  }
    
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1.5px;
  width: 12.5rem;
  margin: .9rem auto;
}

@media (min-width: 768px) {

  .tagline {
    text-transform: uppercase;
  }

}

date {
  font-size: 1.4rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1.5px;
  width: 1.3rem;
  vertical-align: middle;
  margin: 1rem;
}

/* Location STYLES */
.blurb img {
  height: 9.5rem;
}

.blurb h3 {
  font-weight: 600;
}

.blurb div {
  font-family: 'Muli', sans-serif;
}

@media (min-width: 768px) {

  .blurb {
   display: inline-block;
   width: 30%;
   padding: 2rem;
   margin: 1rem;
  }

}

.blurb::after {
  content: "";
  display: block;
  height: .12rem;
  width: 30vw;
  margin: 1.1rem auto;
  background-color: #444349;
}

@media (min-width: 768px) {

  .blurb::after {
   display:none;
  }

}

/* Program STYLES */

.program {
  width: 100vw;
  text-align: left;
  background: hsla(100,0%,0%,.99);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
}

@media (min-width: 768px) {

  .program-wrapper {
   width: 30vw;
   margin: 0 auto;
  }

}

.program h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem;
  text-align: center;
}

.program p {
  font-style: italic;
}

.program ul {
  letter-spacing: .125rem;
}

/* Gift STYLES */

.gifts {
    background: hsla(10,20%,100%,1);
    width: 100vw;
    font-family: 'Muli', sans-serif;
    color: #444349;
    text-align: center;
    }

.gifts h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem;
  text-align: center;
}  

.gifts img {
  height: 9.5rem;
    }  
    
.gifts p:last-child {
  margin-bottom: 0;
}

/* FAQ STYLES */

.faq {
  width: 100vw;
  text-align: center;
  background: hsla(100,0%,0%,.99);
  color: #d2ba87;
    }

.faq h2 {
  margin-top: 2.2rem;
}

.faq p {
  font-family: 'Muli', sans-serif;
  text-align: left;
  margin-left: 1rem;
}

.question-group::after {
  content: "";
  display: block;
  height: .15rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

.question {
    font-weight: 700;
    margin-bottom: .2rem;
    }

.answer {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {

  .question-group {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .7rem;
  }

  .question-group::after {
    display: none;
  }

  .question-group h3 {
    text-align: left;
  }

}

/* Footer STYLES */

footer {
  height: 10vh;
  width: 100vw;
  background-color: #606060;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .875rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

footer p {
  margin-bottom: 0;
}

footer small {
  line-height: 1.5;
}

@media (min-width: 768px) {

  footer {
    min-height: 6vh;
  }

}